* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background: hsla(235, 15%, 28%, 1);
}

.quote_body {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#quote {
  font-style: italic;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  line-height: 36px;
}

button {
  width: 100px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background: #8845f4;
  color: white;
  height: 44px;
}